

<app-filter></app-filter>

<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th (click)="sort('nickname')">nickname</th>
            <th (click)="sort('address')">address</th>
            <th (click)="sort('neighborhood')">neighborhood</th>
            <th (click)="sort('bedrooms')"># of bedrooms</th>
            <th (click)="sort('bathrooms')"># of bathrooms</th>
            <th (click)="sort('price')">price</th>
            <th>available since</th>
        </tr>
    </thead>
    <tr *ngFor='let house of filteredHouses'>
        <td>
            <a>
                {{ house.nickname }}
            </a>
        </td>
        <td> {{ house.address }} </td>
        <td> {{ house.neighborhood }} </td>
        <td> {{ house.bedrooms }} </td>
        <td> {{ house.bathrooms }} </td>
        <td> {{ house.price | currency:currencyCode: 'symbol'}} </td>
        <td> {{ house.availableSince }}</td>
        
    <tr *ngIf='!filteredHouses || !filteredHouses.length'>
        <td colspan="4">no houses found</td>
    </tr>
</table>
number of houses: {{ filteredHouses.length }}
<br /> 
