<p>houses-list works!</p>

<app-filter></app-filter>

<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>nickname</th>
            <th>address</th>
            <th>neighborhood</th>
            <th># of bedrooms</th>
            <th># of bathrooms</th>
            <th>price</th>
            <th>available since</th>
        </tr>
    </thead>
    <tr>
        <td>
            <a>
                
            </a>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td>
            
        </td>
    </tr>
    <tr>
        <td colspan="4">No houses found</td>
    </tr>
</table>
number of houses:
<br /> 